@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap');

body {
    font-family: "Anek Bangla", sans-serif;
    font-size: 15px;
    overflow-x: hidden;
    line-height: 1.5;
    background: var(--background-color);
    /*background-image: url('../images/dot-grid.webp');*/
}

:root {
    --background-color: #fff;
    --primary-color: #5CAF46;
    --secondary-color: #D41B11;
}

/*==== COMMON CSS START ====*/
p {
    margin: 0;
    color: #222;
    padding: 0;
}

button,
button:focus,
button:active {
    outline: none !important;
    box-shadow: 0 0 !important;
}

form input::placeholder {
    font-size: 15px;
    color: #888;
    text-align: left !important;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    list-style: none;
}

a,
a:hover,
a,
a:hover,
a:focus {
    color: #000;
    text-decoration: none;
    outline-offset: 0;
    outline: 0;
    transition: 0.35s all;
}

button,
button:focus,
button:active {
    text-decoration: none;
    border: 0;
    outline: 0;
}

.form-control,
.form-control:focus,
input,
input:focus {
    outline: 0;
    border: 1;
    box-shadow: 0 0 !important;
}

.parsley-errors-list {
    color: var(--secondary-color);
}

.parsley-error {
    border: 1px solid var(--secondary-color) !important;
}

img {
    max-width: 100%;
    height: 100%;
}

button {
    padding: 0;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Anek Bangla", sans-serif;
    margin: 0;
}

.cursor {
    cursor: pointer;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.container {
    max-width: 1200px;
}

/*==== COMMON CSS END ====  */


/*==== HEADER CSS START ====*/
.header-section {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.logo-menu-auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li a {
    font-size: 17px;
    font-weight: 600;
    margin: 0 10px;
    padding: 0 10px;
    transition: 0.35s all;
}

.menu ul li a:hover {
    color: var(--primary-color);
}

.auth ul li a {
    font-size: 17px;
    font-weight: 600;
    margin: 0px 5px;
    border: 1px solid var(--primary-color);
    padding: 4px 15px;
    border-radius: 10px;
    color: var(--primary-color);
    ;
    transition: 0.35s all;
}

.auth ul li a.active, .auth ul li a:hover {
    background: var(--primary-color);
    color: #fff;
}

.mobile-menu {
    display: none;
}

.mobile-header {
    display: none;
}

/*==== HEADER CSS END ====*/

/*==== SLIDER CSS START ====*/
.slider-section {
    padding: 15px 0;
}

.slider-item img {
    border-radius: 10px;
    overflow: hidden;
}

.slider-item {
    border-radius: 10px;
    overflow: hidden;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-prev span, .owl-next span {
    font-size: 30px;
}

.owl-prev {
    height: 50px;
    width: 50px;
    background: rgba(92, 175, 70, 0.5) !important;
    z-index: 9999;
    left: -25px;
    border-radius: 50px;
    color: #fff !important;
    transition: 0.35s all;
}

.owl-next {
    height: 50px;
    width: 50px;
    background: rgba(92, 175, 70, 0.5) !important;
    z-index: 9999;
    right: -25px;
    border-radius: 50px;
    color: #fff !important;
    transition: 0.35s all;
}

.owl-prev:hover, .owl-next:hover {
    background: rgba(92, 175, 70, 1) !important;
}

/*==== SLIDER CSS END ====*/

/*==== COUNTER CSS START ====*/
.counter-section {
    padding: 30px 0;
}

.counter-heading {
    text-align: center;
    margin-bottom: 35px;
}

.counter-heading h2 {
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.counter-item {
    text-align: center;
    border: 2px solid var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    background: #fff;
}

.total_counter {
    font-size: 25px;
    font-weight: 600;
    margin: 5px 0;
}

.counter-content i {
    color: var(--primary-color);
    font-size: 18px;
}

.counter_title {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
}

.orange-color.counter-item {
    border-color: #F27F21 !important;
}

.orange-color .counter-content i {
    color: #F27F21;
}

.orange-color .counter_title {
    color: #F27F21;
}

.cyan-color.counter-item {
    border-color: #4ACCDB !important;
}

.cyan-color .counter-content i {
    color: #4ACCDB;
}

.cyan-color .counter_title {
    color: #4ACCDB;
}

.red-color.counter-item {
    border-color: #EE436D !important;
}

.red-color .counter-content i {
    color: #EE436D;
}

.red-color .counter_title {
    color: #EE436D;
}


/*==== COUNTER CSS END ====*/

/*==== ABOUT CSS START ====*/
.about-section {
    padding: 30px 0;
}

.about-img {
    border-radius: 10px;
    overflow: hidden;
}

.about-img img {
    border-radius: 10px;
}

.about-content h1 {
    font-weight: 700;
}

.about-content p {
    margin: 20px 0;
}

.about-content ul li {
    display: block;
    margin: 10px 0;
    padding-left: 30px;
    position: relative;
}

.about-content ul {
    margin-bottom: 20px;
}

a.more-details {
    background: var(--primary-color);
    padding: 15px 30px;
    display: inline-block;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
}

a.more-details:hover {
    box-shadow: 2px 3px 1px #222;
}

.about-content ul li:after {
    position: absolute;
    height: 15px;
    width: 15px;
    left: 0;
    top: 4px;
    content: "";
    background: var(--secondary-color);
    border-radius: 2px;
}

.about-content ul li:before {
    position: absolute;
    height: 15px;
    width: 15px;
    left: 4px;
    top: 7px;
    content:
        "";
    background: #ddd;
    border-radius: 2px;
}

/*==== ABOUT CSS END ====*/

/*==== COURSE CARD CSS START ====*/
.course-section {
    padding: 30px 0;
}

.section-heading {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.section-heading h1 {
    font-weight: 700;
    font-size: 33px;
}

.course-item {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 6px 1px #ddd;
    margin: 15px 0;
}

.course-content {
    padding: 20px;
}

.course_name {
    font-size: 22px;
    font-weight: 600;
    min-height: 70px;
    display: block;
}

.course-content ul {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

.course_fee {
    font-size: 18px;
    color: #555;
    font-weight: 500;
}

.course_btn, .course_btn:focus {
    display: block;
    width: 100%;
    background: #222;
    color: #fff !important;
    text-align: center;
    padding: 8px 0;
    font-size: 22px;
    border-radius: 8px;
    font-weight: 600;
}

a.course_btn:hover {
    background: var(--primary-color);
}

/*==== COURSE CARD CSS END ====*/

/*==== BOOK CSS START ====*/
.book-section {
    padding: 20px 0;
    /*background: url('../images/dot-grid.webp');*/
}

.book-item {
    background: #fff;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    gap: 25px;
    align-items: center;
}

.book-content h1 {
    font-size: 23px;
    font-weight: 700;
}

.price-amount {
    margin: 10px 0;
    font-size: 26px;
    color: var(--primary-color);
    font-weight: 600;
}

h5.price-amount del {
    color: var(--secondary-color);
}

a.buy-now {
    background: var(--primary-color);
    color: #fff;
    padding: 8px 20px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
}

a.buy-now:hover {
    box-shadow: 2px 3px 1px #222;
}

/*==== BOOK CSS END ====*/

/*==== SUCCESS HISTORY CSS START ====*/
.success-students {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.session-tab {
    margin-bottom: 25px;
    background: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
}

.session-tab ul li a {
    color: #fff;
}

.session-tab ul li {
    font-size: 18px;
    margin: 0 10px;
    font-weight: 600;
    cursor: pointer;
}

.student-inner {
    box-shadow: 0px 0px 6px 5px #ddd;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    margin: 10px 10px;
}

.student-img {
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 50%;
    background: #ddd;
    border: 5px solid #ddd;
    margin: 0 auto;
}

.student-info {
    margin-top: 10px;
}


.student-info p {
    margin-top: 5px;
}

.success-history-section {
    padding: 50px 0;
}

.all-success {
    text-align: right;
}

.session-tab ul li a {
    color: #fff;
}

.all-success a {
    font-weight: 600;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 3px 20px;
    border-radius: 5px;
}

.all-success a:hover {
    background: var(--secondary-color);
    color: #fff;
}

a.all_btns {
    border: 2px solid #222;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 600;
}

a.all_btns:hover {
    background: #222;
    color: #fff;
}

/*==== SUCCESS HISTORY CSS END ====*/

/*==== FOOTER CSS START ====*/
.footer-top {
    background: #111;
    padding: 50px 0;
}

.footer-bottom {
    text-align: center;
    background: #111;
    padding: 15px 0;
    border-top: 1px solid #555;
}

.copyright p {
    color: #f1f1f1;
}

.footer-social ul li a {
    color: #fff;
    background: var(--primary-color);
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.footer-logo {
    margin-bottom: 15px;
}

h4.quick-title {
    color: var(--secondary-color);
    font-size: 18px;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #555;
}

.footer-quick ul li {
    display: block;
}

.footer-quick ul li a {
    color: #c3c3c3;
    margin: 3px 0;
    display: inline-block;
}

.footer-quick ul li a:hover {
    margin-left: 2px;
    color: var(--primary-color);
}

.footer-contact ul li {
    display: flex;
    color: #fff;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
}

.footer-contact ul li i {
    background: #363333;
    color: var(--primary-color);
    height: 35px;
    line-height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50px;
}

.footer-contact ul li a {
    color: #c3c3c3;
}

/*==== FOOTER CSS END ====*/

/*==== COURSE DETAILS CSS START ====*/
.page-breadcumb {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 35px;
}

.page-banner p {
    color: #ddd;
    margin: 8px 0;
}

.course-video {
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.09);
    padding: 15px;
}

.youtube-video .iframe {
    width: 100% !important;
}

.youtube-video iframe {
    width: 100%;
    height: 250px;
}

.course-price h1 {
    font-weight: 600;
    margin: 15px 0;
    font-size: 32px;
}

/*==== COURSE DETAILS CSS END ====*/



/*==== AUTH  CSS START ====*/
.auth-content {
    box-shadow: 0px 0px 5px 1px #ddd;
    border-radius: 5px;
    padding: 30px;
}

.auth-content input, .auth-content input:focus, .auth-content select, .auth-content select:focus {
    border: 1px solid #ddd;
    height: 44px;
    border-radius: 5px;
}

.auth-section {
    padding: 50px 0;
}

.form-label {
    font-weight: 600;
    color: #555;
}

.submit_btn {
    background: #222;
    color: #fff;
    display: block;
    width: 100%;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}

.auth-extra a {
    text-decoration: underline;
    font-weight: 600;
}

/*==== AUTH  CSS END ====*/

/*==== BOOK DETAILS CSS START ====*/
.book-image {
    height: 550px;
}

.book-details h1 {
    font-size: 33px;
    font-weight: 600;
}

.b-author {
    display: flex;
    align-items: center;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    gap: 15px;
    cursor: pointer;
}

.author-img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid var(--primary-color);
}

.book-authors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px 0;
}

.author-name h4 {
    font-size: 16px;
    font-weight: 600;
}

.book-infoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.book-info {
    color: #fff;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.book-con p {
    color: #fff;
}

.book-price-inner {
    margin: 25px 0;
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.book-price-inner h4 {
    color: var(--primary-color)
}

.book-price-inner h4 del {
    color: var(--secondary-color)
}

button.buy-now-btn {
    width: 100%;
    background: var(--primary-color);
    color: #fff;
    padding: 12px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
}

.side_cart {
    position: fixed;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--primary-color);
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
}

.side_cart span {
    position: absolute;
    top: -5px;
    background: var(--secondary-color);
    height: 20px;
    width: 20px;
    line-height: 20px;
    color: #fff;
    border-radius: 50px;
    font-size: 10px;
}

.side_cart p {
    color: #fff;
    font-size: 20px;
}

/*==== BOOK DETAILS CSS END ====*/

/*==== CHECKOUT  CSS START ====*/
.cart-item {
    display: grid;
    grid-template-columns: 15% 1fr 22%;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 5px;
    gap: 15px;
    align-items: center;
    margin: 20px 0;
}

.cart-img {
    width: 110px;
    height: 110px;
}

.checkout-section {
    padding: 40px 0;
}

.checkout_title {
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: 600;
}

.qty-wrapper {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.qty-wrapper button {
    padding: 5px 12px;
    background: #eee;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

.qty-wrapper input {
    width: 50px;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.cart-price h4 {
    margin-top: 5px;
    color: var(--primary-color);
    font-size: 20px;
    text-align: center;
}

.cart-price h4 del {
    color: var(--secondary-color);
}

button.cart_remove {
    background: var(--secondary-color);
    color: #fff;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 14px;
}

table.table.custom-table {
    border: 1px solid #ddd;
    border-radius: 5px;
}

/*==== CHECKOUT  CSS END ====*/

/*==== COURSE DETAILS CSS START ====*/
.course-details-section {
    padding: 40px 0;
}

.course-curriculam .accordion-button {
    font-size: 18px;
    color: #444 !important;
    font-weight: 600;
}

.course-curriculam #course_accordion {
    margin-top: 20px;
}

.course-curriculam .accordion-button {
    font-size: 18px;
    color: #444 !important;
    font-weight: 600;
}

ul.lesson-list li {
    display: flex;
    justify-content: space-between;
}

ul.lesson-list li p {
    font-weight: 500;
    color: #555;
    font-size: 16px;
}

ul.lesson-list {
    padding-left: 15px;
}

.accordion-button:not(.collapsed) {
    background: var(--primary-color);
    color: #fff !important;
}

.course-description {
    border: 1px solid #ddd;
    padding: 15px;
}

.description-title {
    margin-top: 35px;
    margin-bottom: 15px;
}

.course-price.course-modal .modal-header {
    padding: 0 20px;
}

.course-modal .modal-title {
    font-size: 25px;
}

.payment-form-body ul li {
    display: flex;
    justify-content: space-between;
}

.payment-form-body ul li h4 {
    font-size: 18px;
}

.payment-form-body ul {
    margin-bottom: 16px;
    padding: 15px 10px;
    background: #f1f1f1;
    border-radius: 5px;
}

/*==== COURSE DETAILS CSS END ====*/
/*==== NOTICE SECTION CSS START ====*/
.notice-section {
    padding: 30px 0;
    background-color: #fff;
}

.notice-table table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.notice-table thead th {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 12px;
    font-weight: bold;
    text-align: center;
}

.notice-table tbody td {
    border: 1px solid #ddd;
    padding: 12px;
    vertical-align: middle;
    text-align: center;
}

td.notice-title {
    text-align: left !important;
}

.notice-table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.notice-table tbody tr:hover {
    background-color: #f1f1f1;
}

.notice-table .download-btn {
    background-color: #000;
    color: #fff;
    padding: 6px 14px;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.notice-table .download-btn:hover {
    background-color: #333;
}

.notice-table .view-link {
    color: orange;
    font-weight: bold;
    text-decoration: none;
}

.notice-table .view-link:hover {
    text-decoration: underline;
}

/*==== NOTICE SECTION CSS END ====*/
